body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(203, 252, 222);
    color: rgb(154, 39, 165);
    line-height: 1.8;
    padding: 30px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: brown;
}
nav {
    padding: 2px;
    border: 1px solid rgb(252,0, 126);
    border-radius: 10px;
    margin-top: 10px;
    text-align:center;
    font-size: 18px;
    box-shadow: 200px;
}
h1 {
    color:rgb(92, 92, 247);
    text-align: center;
}
h2 {
    color:rgb(92, 92, 247);
    text-align: center;
}
h3 {
    color:rgb(92, 92, 247);
    text-align: center;
}
#label {
    color:rgb(92, 92, 247);
    text-align: center;
}
p {
    color:rgb(92, 92, 247);
    text-align: center;
}
section {
    padding: 2px;
    border: 1px solid rgb(252, 0, 126);
    border-radius: 10px;
    margin-top: 10px;
    text-align:center;
    font-size: large;
}
article {
    padding: 2px;
    border: 1px solid rgb(252, 0, 126);
    border-radius: 10px;
    margin-top: 10px;
    text-align:center;
    font-size: large;
}
img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border: 2px solid rgb(180, 94, 94);
    border-radius: 20px;
}

